@model WebApplication5.Models.CricketTeams

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CricketTeams</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Div)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Div)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sportType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sportType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
