@model WebApplication5.Models.CricketPlayers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CricketPlayers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAdd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoinT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoinT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
