@model IEnumerable<WebApplication5.Models.Customer>
<br />
<br />
<br />
<br />
<div class="panel panel-primary" style="border-color:blue">
    <div class="panel-heading" style="background-color:black;border-color:blue"><h1 style="text-align:center;font-family:'Adobe Arabic';color:white;font-size:100px">EMPLOYEES INFORMATION</h1></div>
    <div class="panel-body" style="background-color:black;border-color:blue">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.firstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAdd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.teamName)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.firstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sdate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAdd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.teamName)
                    </td>

                </tr>
            }

        </table>
        </div>
    </div>
<style>
    body {
        padding: 50px;
        background-image: url('http://safest.link/wp-content/uploads/2015/06/Hd-Wall-Backgrounds-Hd-Cool-HD-Wallpapers.jpg');
    }

    tr {
        color: white;
    }
</style>

